.wrap {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
}
.fortawesomeIcon{
    width:10px;
}

.pageTitle {
    padding: 10px 20px;
    /*width: calc(40% + 200px);*/
    width: 800px;
}

.pageContent { 
    width: 800px;
    height: 80%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}
.pageTitleFont {
    font-size: 24px;
}

.listField{
    width: 50%;
}
.btnField{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.btn{
    border-radius: 5%;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;
    color: #188ACC;
    border:1px solid #188ACC;
    background-color: white;
}
.btn:hover{
    padding: 3px 15px;
    border:2px solid #188ACC;
    color: white;
    background-color: #188ACC;
 }
.list {
     border:1px solid black;
     width:100%;
     height:calc(100% - 45.6px);
     max-height:calc(100% - 45.6px);
     overflow-y: auto;
     padding: 0;
     margin: 0;
     list-style: none;
 }
.listItem {
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.listItem:hover {
    background-color: lightgray;
}

.listA {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}
.cateNames{}
.setting{
    width: 50%;
    padding-top: 45.6px;
}
.setField{
    width:100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.setLabel{
    width:100px;
    font-weight: bold;
}
.set1,.set2,.set3,.set4,.set5,.set6{
    margin: 10px;
}
.set1 input {
}
.set1{
    width:180px;
}
.viewImg{ }

.subBtn{
    margin-left: calc(50% - 50px);

}