[data-bs-theme="dark"] {
  --bb-main: white;
  --bb-sub: gray;
  --bg-main: transparent;
  --bg-sub: rgb(56, 56, 56);
}

[data-bs-theme="light"] {
  --bb-main: black;
  --bb-sub: lightgray;
  --bg-main: white;
  --bg-sub: whitesmoke;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  transition: all ease-in-out .3s;
}